* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  background: rgb(192, 191, 191);
  border-radius: 4%;
  box-shadow: rgb(211, 208, 208) 1px 1px 3px 1px;
  padding: 0 0 4px 0;
}

.header {
  display: flex;
  justify-content: center;
  background: khaki;
  height: 35%;
  align-items: center;

}

.title-txt{
font-size: 2em;
padding: 3px;
}
.emoji {
  font-size: 2em;
}
.card-body{
  font-style: italic;
  font-family: Helvetica Neue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
button {
  width: 80%;
  text-transform: capitalize;
  background: black;
  font-size: 1em;
  color: white;
  margin-top: 50px;
  text-transform: capitalize;
  border-radius: 4%;
  box-shadow: rgb(211, 208, 208) 1px 1px 3px 1px
}


/* COMPONENT */
.component-wrapper{
  width: 200px;
  height: 200px;
  position: relative;
}

.component{
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  margin: 5px;
  flex-direction: column;
  box-shadow: rgb(211, 208, 208) 1px 1px 3px 1px;
  margin: 20px;
  overflow: hidden;
  transition: all 1s ease;
  border-radius: 4%;
}

.component-header {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: rgb(87, 224, 158);
  transition: 0.4s;
  font-size: 2em;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.component-emoji {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 120px;
  background-color: rgb(135, 241, 195);
  transition: 0.5s;
  font-size: 2em;
  bottom: 0;
}
.component-header:hover {
  transition: 0.5s;
  height: 200px;
  z-index: 1;
}

.component-emoji:hover {
  transition: 0.5s;
  height: 200px;
  z-index: 10;
}
.component-header:hover + .component-emoji{
  height:0;
  z-index: 0;
}

.component-emoji:hover + .component-header{
  font-size: 0px;
  height: 0;
}
  .component-emoji:hover .component-header-txt{
   font-size: 0px;
    }
  

.btnTxt {
  text-transform: uppercase;
}
.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.component-header-txt {
  font: size 3rem;
  text-transform: uppercase;
  font-weight: lighter;
}
.transform { 
transition: all 1s ease;
}